---
---

@charset "utf-8";

@media (min-width: 960px) {
    html {
        font-size: 15pt;
    }
}

@media (min-width: 640px) and (max-width: 959px) {
    html {
        font-size: 13pt;
    }
}

@media (max-width: 639px) {
    html {
        font-size: 12pt;
    }
}


$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", sans-serif;

$monospace: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;


html {
    font-family: $sans-serif;
    color: black;
    background-color: whitesmoke;
    line-height: 1.75;
    word-break: keep-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

body > * > div {
    max-width: 940px;
    margin: 1em auto;
    padding: 0 1em;
}

a[href] {
    color: crimson;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &.plain {
        color: black;
    }
}

pre, code {
    font-family: $monospace;
}

pre.highlight {
    padding: 1em 2em;
    border-radius: .5em;
    overflow-x: auto;
    font-size: .8em;
}

pre code {
    word-wrap: normal;
    overflow-wrap: normal;
}

p code {
    border-radius: .25em;
    padding: 0 .5em;
    display: inline-block;
    white-space: pre;
    overflow-x: auto;
    font-size: .8em;
}

blockquote {
    background: gainsboro;
    border-radius: .5em;
    color: dimgrey;
    margin: 0;
    padding: 1em 2em;
    p {
        display: inline;
    }
}

del {
    color: grey;
}

footer {
    border-top: 1px solid gainsboro;
    .copyright {
        font-size: .8em;
        float: left;
    }
    .license {
        font-size: .6em;
        float: right;
        text-align: right;
    }
    .disclaimer {
        font-size: .6em;
        text-align: right;
    }
}

.clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

nav {
    .prev {
        text-align: left;
    }
    .next {
        text-align: right;
    }
}

table {
    border-spacing: 0;
    td {
        border-bottom: 1px solid lightgrey;
        padding: .2em .4em;
        &:first-child {
            padding-left: .8em;
        }
        &:last-child {
            padding-right: .8em;
        }
    }
    th {
        @extend td;
        border-bottom: 1px solid grey;
    }
    tbody tr:last-child td {
        border-bottom: none;
    }
}

.table {
    min-width: 100%;
    overflow-x: auto;
}

.footnotes {
    p:first-child {
        margin-top: 2em;
    }
    p:last-child {
        margin-bottom: 2em;
    }
}

.meta {
    p {
        margin-top: 2em;
    }
}

.date {
    font-family: $monospace;
}