<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if page.title %}{{ page.title | escape }} — {% endif %}Minacle develop</title>
    <link href="https://necolas.github.io/normalize.css/7.0.0/normalize.css" rel="stylesheet">
    <link href="/css/monokai.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" type="application/atom+xml" title="Minacle develop(with: Atom)">
    <script src="/js/footnote.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/table.js"></script>
</head>
