---
layout: basic
---
<article>
    <div>
        <h1><a class="plain" href="{{ page.url }}">{{ page.title }}</a></h1>
        {{ content }}
        <div class="meta">
            <p><small>
                    <span class="date">{{ page.date | date: '%Y. %-m. %-d. %H:%M' }}</span>
{% if page.categories.size > 0 %}
                |
    {% for category in page.categories %}
                <a class="category"><b>{{ category }}</b></a>{% if category != page.categories.last %}, {% endif %}
    {% endfor %}
{% endif %}
{% if page.tags.size > 0 %}
                |
    {% for tag in page.tags %}
                <a class="tag">{{ tag }}</a>{% if tag != page.tags.last %}, {% endif %}
    {% endfor %}
{% endif %}
            </small></p>
        </div>
    </div>
</article>
<nav>
    <div>
{% if page.previous.url %}
        <p class="prev"><a href="{{page.previous.url}}" rel="prev">&larr; {{page.previous.title}}</a></p>
{% endif %}
{% if page.next.url %}
        <p class="next"><a href="{{page.next.url}}" rel="next">{{page.next.title}} &rarr;</a></p>
{% endif %}
    </div>
</nav>
